<div class="row-fluid">
    <div class="page-header">
        <h1>Know your doctors</h1>
    </div>
</div>
<div class="content">
    <div class="row">

        <div class="col-md-9">
            <div class="row">
                <div class="col-md-10">
                    <p><b>Dr. Preethi Nagaraj</b> completed her MBBS from M.S.Ramaiah Medical College, Bangalore.. She did her MD in Dermatology, Leprology and Venerology from the prestigious St.John's Medical College, Bangalore. She was awarded training fellowship in Pediatric Dermatology, a sub specialty dealing with skin diseases in children, by the Indian Association of Dermatologists, Venerologists and Leprologists.</p>

                    <p>Dr.Preethi has vast experience in the treatment of general dermatological problems and specializes in the practice of Pediatric Dermatology.</p>

                    <p>She keeps abreast of the latest treatments and technologies by regularly attending conferences and workshops.</p>

                    <p>She strongly believes that the key to healthy skin is through a healthy diet and a fit body.</p>
                </div>
                <div class="col-md-2"><img class="img-thumbnail"  src="images/doctors/preethi.png" height="100%" width="100%"/></div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-2"><img class="img-thumbnail"  src="images/doctors/johnny.jpg" height="100%" width="100%"/></div>
                <div class="col-md-10">
                    <p><b>Dr.Johny Chacko</b> completed his MBBS and MD from the prestigious St.John's Medical College, Bangalore. After postgraduaton, he continued to work as a faculty at St.John's. He also worked as a consultant at Kaya skin clinic, a well known chain of cosmetic dermatology clinics.</p>

                    <p>Dr. Johny is very well trained in all aspects of cosmetic dermatology including  chemical peels, mesotherapy, lasers, Botox (R),fillers, vitiligo surgeries and skin rejuvenation procedures.</p>

                    <p>He has won several prizes and awards including
                    “Dr. K. S. Siddappa Memorial Award” for the “Best Original Research Paper” at National conference, Gurgaon,February 2011
                    1st place in “Postgraduate quiz” conducted at the “ International Dermatopathology Symposium”, Bangalore, November 2010.</p>

                    <p>Dr. Johny constantly upgrades his skills and techniques in the field of cosmetic dermatology by attending conferences and workshops.</p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#/general"><img src="images/general-ico.png" />&nbsp;&nbsp;General Dermatology</a></li>
                <li class="active"><a href="#/cosmetic"><img src="images/cosmetic-ico.png" />&nbsp;&nbsp;Cosmetic Dermatology</a></li>
                <li class="active"><a href="#/pediatric"><img src="images/pediatric-ico.png" />&nbsp;&nbsp;Pediatric Dermatology</a></li>
                <li class="active"><a href="#/trichology"><img src="images/trichology-ico.png" />&nbsp;&nbsp;Trichology</a></li>
            </ul>
        </div>
    </div>
</div>
