<div class="row-fluid">
    <div class="page-header">
        <h1>General Dermatology</h1>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-9">
            <div>
            <p>A lot of skin rashes appear similar. A good history, detailed examination and experience is required to diagnose skin disorders. At Twacha , we believe in arriving at a diagnosis , and treat the disease and not the symptom alone.</p>

            <p>At Twacha skin and hair clinic, one has the advantage of treatment facilities for all sub – specialities of Dermatology by expert, highly motivated dermatologists who have undergone specialised training in Peiatric Dermatology and Cosmetic Dermatology.</p>

            <p>Some of the common skin disorders an FAQ s are listed below.
            <ul>
            <li>Psoriasis</li>
            <li>Vitiligo</li>
            <li>Acne vulgaris</li>
            </ul>

            </p>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#/general"><img src="images/general-ico.png" />&nbsp;&nbsp;General Dermatology</a></li>
                <li><a href="#/cosmetic"><img src="images/cosmetic-ico.png" />&nbsp;&nbsp;Cosmetic Dermatology</a></li>
                <li><a href="#/pediatric"><img src="images/pediatric-ico.png" />&nbsp;&nbsp;Pediatric Dermatology</a></li>
                <li><a href="#/trichology"><img src="images/trichology-ico.png" />&nbsp;&nbsp;Trichology</a></li>
            </ul>
        </div>
    </div>
</div>