<div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <a href="#/general"><img class="img-thumbnail" src="images/mainpage/general.jpg" alt="General Dermatology" height="100%" width="100%"/></a>
            <p class="text-center">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#/general">General Dermatology</a></li>
            </ul>
            </p>
        </div>
        <div class="col-md-3">
            <a href="#/cosmetic"><img class="img-thumbnail"  src="images/mainpage/cosmetic.jpg" alt="Cosmetic Dermatology" height="100%" width="100%"/></a>
            <p class="text-center">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#/cosmetic">Cosmetic Dermatology</a></li>
            </ul>
            </p>
        </div>
        <div class="col-md-3">
            <a href="#/pediatric"><img class="img-thumbnail" src="images/mainpage/pediatric.jpg" alt="Pediatric Dermatology" height="100%" width="100%"/></a>
            <p class="text-center">
            <ul class="nav nav-pills nav-justified">
                <li class="active"><a href="#/pediatric">Pediatric Dermatology</a></li>
            </ul>
            </p>
        </div>
        <div class="col-md-3">
            <a href="#/trichology"><img class="img-thumbnail" src="images/mainpage/trichology.jpg" alt="Trichology" height="100%" width="100%"/></a>
            <p class="text-center">
            <ul class="nav nav-pills nav-justified ">
                <li class="active"><a href="#/trichology">Trichology</a></li>
            </ul>
            </p>
        </div>
    </div>
</div>

        <div class="container">
<div class="row">
    <div class="col-md-12">
        <center>
            <h3>Content here</h3>
            Dr.Johny Chacko completed his MBBS and MD from the prestigious St.John's Medical College, Bangalore. After postgraduaton, he continued to work as a faculty at St.John's. He also worked as a consultant at Kaya skin clinic, a well known chain of cosmetic dermatology clinics.

            Dr. Johny is very well trained in all aspects of cosmetic dermatology including  chemical peels, mesotherapy, lasers, Botox (R),fillers, vitiligo surgeries and skin rejuvenation procedures.
        </center>
    </div>

</div>
        </div>
