<div class="row-fluid">
    <div class="page-header">
        <h1>Pediatric Dermatology</h1>
    </div>
</div>

<div class="content">

    <div class="row">
        <div class="col-md-9">
		
			<p>
				Dr.Preethi Nagaraj has earned her fellowship in pediatric dermatology, a branch of Dermatology dealing with skin disorders in children.
				Children are unique and so is their skin. Hence the diagnosis and treatment of skin diseases related to children requires special
				expertise.
			</p>

            <ul>
				<li><a href="http://twacha.uservoice.com/knowledgebase/articles/270476-atopic-dermatitis">Atopic dermatitis</a></li>
				<li><a href="http://twacha.uservoice.com/knowledgebase/articles/270470-impetigo">Impetigo</a></li>
				<li><a href="http://twacha.uservoice.com/knowledgebase/articles/270458-alopecia-areata">Alopecia areata</a></li>
				<li><a href="http://twacha.uservoice.com/knowledgebase/articles/270468-molluscum-contagiosum">Molluscum contagiosum</a></li>
				<li><a href="http://twacha.uservoice.com/knowledgebase/articles/270472-birthmarks">Birthmarks</a></li>
			</ul>
			
			<p>
                For more information related to common pediatric dermatological issues, visit our knowledge base.
            </p>
            <p>
                <a href="http://twacha.uservoice.com/knowledgebase/topics/43697-pediatric-dermatology" class="btn btn-primary btn-large">Know more</a>
            </p>

        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/general"><img src="images/general-ico.png" />&nbsp;&nbsp;General Dermatology</a></li>
                <li><a href="#/cosmetic"><img src="images/cosmetic-ico.png" />&nbsp;&nbsp;Cosmetic Dermatology</a></li>
                <li class="active"><a href="#/pediatric"><img src="images/pediatric-ico.png" />&nbsp;&nbsp;Pediatric Dermatology</a></li>
                <li><a href="#/trichology"><img src="images/trichology-ico.png" />&nbsp;&nbsp;Trichology</a></li>
            </ul>
        </div>
    </div>
</div>