<div class="row-fluid">
    <div class="page-header">
        <h1>Services</h1>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-9">

            <h3>Skin Consultation</h3>
			
			<h3>Hair Consultation</h3>
			<p>
			<ul>
				<li>Trichoscopy ( Computerised Hair and Scalp Analysis)</li>
				<li>Laser Comb ( Low level Laser Light Therapy)</li>
				<li>Mesotherapy (Microneedling technique)</li>
			</ul>
			</p>
			
			<hr />
			
			<h3>Pediatric Dermatology</h3>
			
			<hr />
			
			<h3>Cosmetic Dermatology Procedures</h3>
			<p>Cosmetic Dermatological procedures to address your cosmetic concerns , enhance your appearance,increase your confidence and help you maintain your youthful appearance.</p>
			
			<h3>Acne and Acne Scars treatment</h3>
			<p>
				<ul>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303711">Chemical peels</a></li>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303713">Comedone extraction</a></li>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303714">Microdermabrasion</a></li>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303716">Subcision</a></li>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303717">Dermaroller</a></li>
				</ul>
			</p>
			
			<hr />
			
			<h3>Pigmentation and dark spots</h3>
			<p>
				<ul>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303711">Chemical peels</a></li>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303714">Microdermabrasion</a></li>					
				</ul>
			</p>
			
			<hr />
			
			<h3>Undereye Dark circles</h3>
			<p>
				<ul>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303711">Chemical peels</a></li>
				</ul>
			</p>	

			<hr />			
			
			<h3>Antiageing and Skin Rejuvenation</h3>
			<p>
				<ul>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303711">Chemical peels</a></li>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303714">Microdermabrasion</a></li>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303718">Botox</a></li>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303719">Fillers</a></li>
				</ul>
			</p>	

			<hr />
			
			<h3>Wart / Skin tags removal</h3>
			<p>
				<ul>
					
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303720">Electrocautery</a></li>
					<li><a href="http://twacha.uservoice.com/knowledgebase/articles/303721">Radiofrequency ablation</a></li>				
				</ul>
			</p>	

			<hr />
			
			<h3>Mole removal</h3>
			
			<hr />
			
			<h3>Xanthelasma (Fat deposits around eye) removal</h3>
			
			<hr />
			
			<h3>Milia extraction</h3>
			
			<hr />
			
			<h3>Ear lobe repair</h3>
			
			<hr />
			
			

        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#/general"><img src="images/general-ico.png" />&nbsp;&nbsp;General Dermatology</a></li>
                <li class="active"><a href="#/cosmetic"><img src="images/cosmetic-ico.png" />&nbsp;&nbsp;Cosmetic Dermatology</a></li>
                <li class="active"><a href="#/pediatric"><img src="images/pediatric-ico.png" />&nbsp;&nbsp;Pediatric Dermatology</a></li>
                <li class="active"><a href="#/trichology"><img src="images/trichology-ico.png" />&nbsp;&nbsp;Trichology</a></li>
            </ul>
        </div>
    </div>
</div>