<div class="row-fluid">
    <div class="page-header">
        <h1>Services</h1>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-9">

            <h3>Skin Consultation</h3>
			
			<h3>Hair Consultation</h3>
			<p>
			<ul>
				<li>Trichoscopy ( Computerised Hair and Scalp Analysis)</li>
				<li>Laser Comb ( Low level Laser Light Therapy)</li>
				<li>Mesotherapy (Microneedling technique)</li>
			</ul>
			</p>
			
			<h3>Cosmetic Dermatology Procedures</h3>
			<p>Cosmetic Dermatological procedures to address your cosmetic concerns , enhance your appearance,increase your confidence and help you maintain your youthful appearance.</p>
			
			<h3>Acne and Acne Scars treatment</h3>
			<p>
				<ul>
					<li>Chemical peels</li>
					<li>Comedone extraction</li>
					<li>Microdermabrasion</li>
					<li>Subcision</li>
					<li>Dermaroller</li>
				</ul>
			</p>
			
			<h3>Pigmentation and dark spots</h3>
			<p>
				<ul>
					<li>Chemical peels</li>
					<li>Microdermabrasion</li>
					<li>Microdermabrasion</li>
				</ul>
			</p>
			
			<h3>Undereye Dark circles</h3>
			<p>
				<ul>
					<li>Chemical peels</li>
				</ul>
			</p>			
			
			<h3>Antiageing and Skin Rejuvenation</h3>
			<p>
				<ul>
					<li>Chemical peels</li>
					<li>Microdermabrasion</li>
					<li>Botox</li>
					<li>Fillers</li>
				</ul>
			</p>			
			
			<h3>Wart / Skin tags removal</h3>
			<p>
				<ul>
					
					<li>Electrocautery</li>
					<li>Radiofrequency ablation</li>				
				</ul>
			</p>			
			
			<h3>Mole removal</h3>
			
			<h3>Xanthelasma (Fat deposits around eye) removal</h3>
			
			<h3>Milia extraction</h3>
			
			<h3>Ear lobe repair</h3>
			
			<h3>Pediatric Dermatology</h3>

        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#/general"><img src="images/general-ico.png" />&nbsp;&nbsp;General Dermatology</a></li>
                <li class="active"><a href="#/cosmetic"><img src="images/cosmetic-ico.png" />&nbsp;&nbsp;Cosmetic Dermatology</a></li>
                <li class="active"><a href="#/pediatric"><img src="images/pediatric-ico.png" />&nbsp;&nbsp;Pediatric Dermatology</a></li>
                <li class="active"><a href="#/trichology"><img src="images/trichology-ico.png" />&nbsp;&nbsp;Trichology</a></li>
            </ul>
        </div>
    </div>
</div>