<div class="row-fluid">
    <div class="page-header">
        <h1>Trichology</h1>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-9">
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/general"><img src="images/general-ico.png" />&nbsp;&nbsp;General Dermatology</a></li>
                <li><a href="#/cosmetic"><img src="images/cosmetic-ico.png" />&nbsp;&nbsp;Cosmetic Dermatology</a></li>
                <li><a href="#/pediatric"><img src="images/pediatric-ico.png" />&nbsp;&nbsp;Pediatric Dermatology</a></li>
                <li class="active"><a href="#/trichology"><img src="images/trichology-ico.png" />&nbsp;&nbsp;Trichology</a></li>
            </ul>
        </div>
    </div>
</div>