<div class="row-fluid">
    <div class="page-header">
        <h1>Trichology</h1>
    </div>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-9">


            <p>Hair fall is one of the most common problems faced by young adults.Causes of hair fall are many. A detailed history and examination is very necessary for an accurate diagnosis, so as to formulate the right approach to treatment. </p>
            <p>
                At Twacha clinic, we use TRICHOSCOPY to visualise the hair roots at a closer lever.
                In addition to medical management, we have MESOTHERAPY and  LASER COMB treatments to accelerate hair growth.
            </p>

            <h4>FAQ's on hair</h4>

            <b>Which is the best shampoo?</b>
            <p>Almost all the commercially available shampoos have the same cleaning base. Use a shampoo to suit to hair and scalp type(dry/ oily/normal).</p>

            <b>How often should I was my hair?</b>
            <p>The frequency of shampooing depends on your scalp type.
            <ul>
                <li>
                    Dry scalp- once/ twice a week
                </li>
                <li>
                    Oily scalp- Daily / alternate days
                </li>
                <li>
                    Normal - twice / week
                </li>
            </ul>
            </p>

            <b>Should I always use a conditioner?</b>
            <p>A hair conditioner smoothens the cuticles, makes hair more manageable and less breakable. it is advisabel to use a conditioner for the above purposes , especially if your hair is dry. But remember to apply it on the hair shaft and not on the scalp.</p>

            <b>Should I oil my hair daily?</b>
            <p>Indians love oiling thier hair. Oil only as a  conditioner making hair more manageable, making it less britle and less breakable.Massaging the scalp and hair with warm oil 1- 2 hours prior to bath is generally advsiable. It is not advisable to leave the oil overnight and to ensure that is thoroughy washed off so that it does not attract dirt and worsen dandruff.</p>

			<h4>Hair loss</h4>
			
			<ul>
				<li><a href="http://twacha.uservoice.com/knowledgebase/articles/268697-androgenetic-alopecia">Androgenetic Alopecia</a></li>
				<li><a href="http://twacha.uservoice.com/knowledgebase/articles/270456-alopecia-areata">Alopecia areata</a></li>
			</ul>
			
            <p>
                For more information related to trichology, visit our knowledge base.
            </p>
            <p>
                <a href="http://twacha.uservoice.com/knowledgebase/topics/43698-trichology" class="btn btn-primary btn-large">Know more</a>
            </p>

        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li><a href="#/general"><img src="images/general-ico.png" />&nbsp;&nbsp;General Dermatology</a></li>
                <li><a href="#/cosmetic"><img src="images/cosmetic-ico.png" />&nbsp;&nbsp;Cosmetic Dermatology</a></li>
                <li><a href="#/pediatric"><img src="images/pediatric-ico.png" />&nbsp;&nbsp;Pediatric Dermatology</a></li>
                <li class="active"><a href="#/trichology"><img src="images/trichology-ico.png" />&nbsp;&nbsp;Trichology</a></li>
            </ul>
        </div>
    </div>
</div>